<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <title>Spring Security Example</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>User, welcome spring boot security page!</h1>-->


<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h1>User Page</h1>
<p>Name: <span th:text="${user.name}"></span></p>
<p>Surname: <span th:text="${user.surname}"></span></p>
<p>Age: <span th:text="${user.age}"></span></p>
<p>Username: <span th:text="${user.username}"></span></p>
<p>Roles:
    <span th:each="role : ${user.roles}" th:text="${role.name} + ' '"></span>
</p>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>